@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.h2 {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.resultsContainer {
  background-color: white;
  width: 23%;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  padding: 30px;
  margin-left: 18%;
}

.trackContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .2rem 0;
}

.iconsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}

.icon{
  width: 1.5rem;
  height:1.5rem;
  fill:black;
  stroke: black;
  stroke-width: 15px;
  overflow: visible;
  cursor: pointer;
}

.icon:hover{
  fill:#1ed760;
  stroke: #1ed760;
}