@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');


.icon{
    width: 1.5rem;
    height:1.5rem;
    fill:black;
    stroke: black;
    stroke-width: 15px;
    overflow: visible;
    cursor: pointer;
}

.icon:hover{
    fill:#1ed760;
    stroke: #1ed760;
}

.trackContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .2rem 0;
}

.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.1rem;
}

.nameSong{
    font-weight: 500;
}

.nameArtist{
    font-size: .9rem;
}

.nameAlbum{
    font-size: .9rem;
}
