.albumCover{
    width: 18rem;
    height: 16rem;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.7;
    
    border-radius: .2rem;
    padding: 1.5rem;
}

.iconPlay{
    width: 2rem;
    height:2rem;
    fill:black;
    stroke: black;
    stroke-width: 15px;
    overflow: visible;
    cursor: pointer;
}

.iconPlay:hover{
    fill:#1ed760;
    stroke:#1ed760;
}



.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding-bottom: 1.5rem;
}

.font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.1rem;
    text-align: center;
}

.nameSong{
    font-weight: 500;
}

.nameArtist{
    font-size: .9rem;
}

.nameAlbum{
    font-size: .9rem;
}

.songplayerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:30%;
    margin-top: 1.5rem;
    padding-top: 0%;
    
}

.tapedContainer{
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
    text-align: center;
    height: 100%;
    margin-top: 0%;
}

.WashitapeIcon{
    width: 6rem;
    height:6rem;
    fill: #f9f6f2;
    stroke: black;
    stroke-width: 1rem;
    position: absolute;
}

#washi1 {
    top: -45px;
    transform: rotate(45deg);
}

#washi2 {
    bottom: -40px;
    transform: rotate(45deg);
}

.iframe{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    padding: 0;
    margin-bottom: 0%;
}


@media screen and (max-width: 320px) {
    .tapedContainer{
        width: 131%;
    }
    .WashitapeIcon{
        width: 4rem;
        height:4rem;
    }

    #washi1 {
        top: -35px;
    }
    
    #washi2 {
        bottom: 35px;
    }

    .songplayerContainer{
        height:auto;
    }
}

