.editIcon{
    width: 1.3rem;
    height:1.3rem;
    fill:gray;
    stroke: gray;
    stroke-width: 15px;
    overflow: visible; 
    cursor: pointer;
}

.editIcon:hover{
    fill:#1ed760;
    stroke: #1ed760;
}

.saveBtn{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    width: 8rem;
    height: 1.9rem;
    border-radius: .5rem;
    border: 2px solid black;
    background-color: #1ed760;
    padding: .3rem;
    cursor: pointer;
}

.saveBtn:hover{
    border: none;
    background-color: black;
    color: white;
}

.inputContainer{
    padding-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.inputPlaylist{
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    border: none;
    color: black;
    line-height: .8rem;
    overflow: visible;
}

.inputPlaylist:focus{
    outline: none;
}

.inputPlaylist:focus::placeholder{
    color: transparent;
}

.saveBtnContainer{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}